// Characters wrapper

    #characters-wrapper {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        position: relative;
        min-height: 50vh;
        width: 100%;
        padding: 3rem 2rem;
        z-index: 3;

        .pajak {
            justify-content: flex-end;
            background: url('./../../../../rezerwat99/images/loff.png') no-repeat;
            display: flex;
            height: 10rem;
            width: 8rem;
            background-size: contain;
            background-position: right;

            animation-name: loff-walk;
            animation-duration: 0.8s;
            animation-iteration-count: infinite;
            
            @keyframes loff-walk {
                0% {background: url('./../../../rezerwat99/images/loff.png') no-repeat; background-size: contain; background-position: right;}
                50% {background: url('./../../../rezerwat99/images/loff2.png') no-repeat; background-size: contain; background-position: right;}
                100% {background: url('./../../../rezerwat99/images/loff3.png') no-repeat; background-size: contain; background-position: right;}
            }
        }
        
        .dex {
            justify-content: flex-start;
            background: url('./../../../rezerwat99/images/dex.png') no-repeat;
            display: flex;
            height: 10rem;
            width: 8rem;
            background-size: contain;

            animation-name: dex-walk;
            animation-duration: 0.8s;
            animation-iteration-count: infinite;
            
            @keyframes dex-walk {
                0% {background: url('./../../../rezerwat99/images/dex.png') no-repeat; background-size: contain;}
                50% {background: url('./../../../rezerwat99/images/dex2.png') no-repeat; background-size: contain;}
                100% {background: url('./../../../rezerwat99/images/dex3.png') no-repeat; background-size: contain;}
            }
        }

        .social-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 10rem;

            a {
                border: none;
            }
        }

        .character {
            display: flex;
            padding: 0 5rem;

            @include breakpoint('<=small') {
                padding: 0 3rem;
                }

            @include breakpoint('<=xsmall') {
                padding: 0 1rem;
                .dex {
                    width: 6rem;
                }
                .pajak {
                    width: 6rem;
                }
                .social-wrapper img {
                    height: 2rem;
                    margin: 0 1rem;
                }
                }

            
        }

        body.is-article-visible & {
			opacity: 0;
		}

		body.is-preload & {
			> * {
				opacity: 0;
			}

			@include vendor('filter', 'blur(0.125rem)');

			.character {
				img {
					opacity: 0;
				}
			}
		}

        @include breakpoint('<=xsmall') {
            padding: 1rem 2rem;
            }
    }