// Characters wrapper

    #characters-wrapper {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        position: relative;
        min-height: 50vh;
        width: 100%;
        padding: 3rem 2rem;
        z-index: 3;

        .pajak {
            justify-content: flex-end;
            background: url('/images/loff1.png') no-repeat;
            display: flex;
            height: 10rem;
            width: 8rem;
            background-size: contain;
            background-position: right;

            animation-name: loff-walk;
            animation-duration: 0.8s;
            animation-iteration-count: infinite;
            animation-timing-function: steps(1);
            
            @keyframes loff-walk {
                0% {background: url('/images/loff1.png') no-repeat; background-size: contain; background-position: right;}
                20% {background: url('/images/loff2.png') no-repeat; background-size: contain; background-position: right;}
                60% {background: url('/images/loff3.png') no-repeat; background-size: contain; background-position: right;}
            }
        }
        
        .dex {
            justify-content: flex-start;
            background: url('/images/dex1.png') no-repeat;
            display: flex;
            height: 10rem;
            width: 8rem;
            background-size: contain;

            animation-name: dex-walk;
            animation-duration: 0.8s;
            animation-iteration-count: infinite;
            animation-timing-function: steps(1);
            
            @keyframes dex-walk {
                0% {background: url('/images/dex1.png') no-repeat; background-size: contain;}
                20% {background: url('/images/dex2.png') no-repeat; background-size: contain;}
                60% {background: url('/images/dex3.png') no-repeat; background-size: contain;}
            }
        }

        .frames1 {
            animation-name: up-down1;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            position: relative;

            @keyframes up-down1 {
                0% {top: -0.2rem;}
                50% {top: 0.2rem;}
                100% {top: -0.2rem;}
            }
        }

        .frames2 {
            animation-name: up-down2;
            animation-duration: 3.4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            position: relative;

            @keyframes up-down2 {
                0% {top: 0.2rem;}
                50% {top: -0.2rem;}
                100% {top: 0.2rem;}
            }
        }

        .social-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 10rem;

            a {
                border: none;
            }

            img {
                padding: 0.2rem;
                border-radius: 10%;
                -moz-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
                -webkit-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
                -ms-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
            }

            img:hover {
                background-color: rgba(255, 255, 255, 0.075);
                transform: scale(1.1);
            }

        }

        .character {
            display: flex;
            padding: 0 5rem;

            @include breakpoint('<=small') {
                padding: 0 3rem;
                }

            @include breakpoint('<=xsmall') {
                padding: 0 1rem;
                .dex {
                    width: 6rem;
                }
                .pajak {
                    width: 6rem;
                }
                .social-wrapper img {
                    height: 2rem;
                    margin: 0 1rem;
                }
                }

            
        }

        body.is-article-visible & {
			opacity: 0;
		}

		body.is-preload & {
			> * {
				opacity: 0;
			}

			@include vendor('filter', 'blur(0.125rem)');

			.character {
				img {
					opacity: 0;
				}
			}
		}

        @include breakpoint('<=xsmall') {
            padding: 1rem 2rem;
            }
    }